{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'res.css' %}">
    <title>Document</title>
</head>
<body>
   <p>ghshgsdfhgsdjghdsjkhglkdsjghdsjlkhgsjdhgjghseiuoghdsiuoghsdughsogiughsdghlksjdghlkjsdghlsdjkgh lsdfjghsjd ghsjhgsug hjlg hsjd ghskjdl ghksdjg hkjdslfg h</p>
    <center>
        <object data="../media/thesis_xml_YqlVy1W/result.pdf" width="1000" height="950"></object>
        <p>{{des}}</p>
        <a href="{{des}}result.txt" download="thesis_xml.xml">
        <button class = "btn cta">Download</button>
        </a>
       
    </center>
</body> 
</html>